<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cerebellum - Reset Password</title>
</head>
<body>
  <form>
    <label for="email">Enter your email</label>
    <input id="email" />
    <label for="password">Enter a new password</label>
    <input id="password" />
    <button type="submit" id="submit"></button>
  </form>

  <script>
    const url = window.location.href;
    console.log(url);
    document.getElementById("#submit").addEventListener("click", function(event) {
      event.preventDefault();
    });
  </script>
</body>
</html>