<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cerebellum - Reset Password</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js'></script>
</head>
<body>
  <style>
    body {
      text-align: center;
    }
    form, input, #submit {
      text-align: right;
      font-size: 30px;
      display: inline-block;
      margin: 10px 0;
    }
    input {
      text-align: left;
    }
  </style>

  <form>
    <label for="password">Enter a new password</label>
    <input id="password" />
    <br>
    <button type="submit" id="submit">Submit</button>
  </form>

  <script>
    const url = window.location.href;
    document.getElementById("submit").addEventListener("click", function(event) {
      event.preventDefault();
      axios.post(url, { password: document.getElementById('password').value })
        .then(res => conole.log(res));
    });
  </script>
</body>
</html>